@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #BDBDBD;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #400960;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #BDBDBD;
    /* creates padding around scroll thumb */
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #E9E9E9;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.user-picture {
    width: 3rem;
    margin-block: 5px;
}

#principal-general-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.following-followers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background-color: #BDBDBD;
    border-radius: 20px;
    padding: 2px 6px;
    text-decoration: none;
    color: #000000;
    margin-top: 0.8rem;

    div {
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .number-followers-following {
        justify-self: end;
        margin-right: 5px;
    }
}

.img-icon-following-followers {
    width: 2.6rem;
    margin-block: 3px;
}

.sidebar-features {
    min-width: min-content;
    width: 20%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.first-sidebar-division {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-sidebar-division {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    background-color: #BDBDBD;
    border-radius: 20px;
    padding: 7px 15px 7px 10px;

    div {
        width: 100%;
    }
}

@media (max-width: 1074px) {
    #principal-general-container {
        font-size: 0.8rem;
    }

    #home-main {
        margin-left: 30%;
    }

    .first-sidebar-division,
    .second-sidebar-division {
        text-wrap: nowrap;
        width: 90%;
        margin-inline: 0;
    }

    .img-icon-following-followers {
        width: 2rem;
    }

    .following-followers {
        width: 100%;
    }

    .user-picture {
        width: 2rem;
    }
}

.this-user-datas {
    display: flex;
    align-items: center;
    gap: 8px;

    div {
        margin-right: 0.2rem;
    }
}

#div-create-post-show-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    button {
        border: none;
        border-radius: 20px;
        background-color: #9770E2;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        height: 2rem;
        width: 9rem;
        margin-top: 0.4rem;
        text-wrap: nowrap;
        padding-inline: 0.4rem;

        @media (max-width: 1074px) {
            font-size: 0.8rem;
            padding-inline: 0.5rem;
        }
    }

    a {
        text-decoration: none;
        color: #000000;
        margin-inline: 5px;
        margin-top: 0.4rem;
        text-wrap: nowrap;
    }
}

@media (max-width: 900px) {
    #div-create-post-show-profile {
        flex-direction: column;
    }

    .user-picture {
        width: 2rem;
    }

    .second-sidebar-division {
        display: flex;
        justify-content: center;
    }
}

#home-main {
    width: 55%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto;
}

.post-card {
    height: auto;
    width: 90%;
    background-color: #D9D9D9;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 15px 20px;

    button {
        background-color: transparent;
        border: none;
        font-family: "Inter", sans-serif;
        font-size: medium;
        color: #4D4D4D;
        padding: 0;
    }
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: start;

    button {
        background-color: transparent;
        border: none;

        img {
            margin-right: 0.3vw;
        }
    }
}

.div-post-image {
    width: 100%;
    height: min-content;
    margin: 0.5rem auto 0;
    border-radius: 20px;

    img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
}

.post-reactions {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.div-post-likes,
.div-post-comments {
    display: flex;
    align-items: center;
    gap: 0.1rem;

    img {
        width: 1.7rem;
        
        @media (min-width: 955px) and (max-width: 1074px) {
            width: 1.5rem;
        }
    }

    button {
        color: #000000;
    }
}

.left-features {
    position: fixed;
    left: 0;
    top: 8vh;
    border-right: 1.5px solid #000000;
}

.right-features {
    position: fixed;
    right: 0;
    top: 8vh;
    border-left: 1.5px solid #000000;
}

/*----------- STREAK CARD -------------*/

.streak-card {
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 85%;
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #000000;
}

.streak-days-div {
    display: flex;
    margin-right: 1.5rem;
    background-color: transparent;
    border: none;
    font-family: "Inter", sans-serif;
    padding: 0;

    img {
        width: 4rem;
    }

    p {
        font-weight: 700;
        font-size: 1.6rem;

        @media (max-width: 1074px) {
            font-size: 1.3rem;
        }
    }
}

.streak-description-today {
    @media (min-width: 955px) and (max-width: 1074px) {
        font-size: 0.8rem;
    }

    @media (max-width: 955px) {
        font-size: 0.7rem;
    }

    button {
        display: inline;
        background-color: transparent;
        border: none;
        font-family: "Inter", sans-serif;
        color: #400960;
        font-weight: 600;
        font-size: medium;
        text-decoration: underline;
        padding: 0;
        margin-left: 0.2rem;
        text-wrap: nowrap;

        @media (min-width: 955px) and (max-width: 1074px) {
            font-size: 0.8rem;
        }

        @media (max-width: 955px) {
            font-size: 0.7rem;
        }
    }
}

.streak-number {
    display: inline;
    font-weight: 700;
    margin-left: 0.3rem;
}

/*----------STREAK POP-UP-----------*/

.streakPopup {
    display: none;
    /* Escondido ao carregar a página */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.closeStreakPopup {
    float: right;
    font-size: 24px;
    cursor: pointer;
}