@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@theme{
    --font-inter: 'Inter'; 
}

.bg-purple-pinguin{
    background-color: #854DA6;
}

.purple-pinguin{
    color: #854DA6;
}

.bg-menu-pinguin{
    background-color: #F1F1F1;
}

.bg-login-pinguin{
    background-color: #EBE8EC
}

.color-login-pinguin{
    color: #EBE8EC;
}

.bg-form-login{
    background-color: #F2F2F2;
}

.stroke-color-pinguin{
    border-color: #6e6e6e;
}

.gray-border{
    border-color: #adadad;
}

.bg-navbar{
    background-color: #d9d9d9;
}

.bg-input-navbar{
    background-color: #BFBFBF;
}
 
.bg-cube-gray-navbar{
    background-color: #5F5F5F;
}
 
.bg-icon-user{
    background-color: #C795E3;
}

.color-text-search-bar {
    color: #414141;
}

.link-purple-pinguin{
    color: #400960;
}

.bg-tab{
    background-color: #BDBDBD;
}

.bg-purple-create-post{
    background-color: #C795E3;
}

.top-shadow-nav-bar-mobile {
    box-shadow: 8px rgb(39, 39, 39); 
}


@import 'tailwindcss';